<div class="form-group">

    <!-- New Ticket Form -->
    <form [formGroup]="commentForm" (ngSubmit)=" save()">
            <mat-form-field>
                    <textarea  matInput id="content" name="content" placeholder="content" formControlName="content" ></textarea>
                  </mat-form-field><br/>

      <!-- Submit Button -->
     <button mat-stroked-button color="primary"   type="submit" >Submit</button>
    </form>
  </div>
  <div class="panel panel-primary" *ngFor="let comment of comments  | filter:{ticketId:ticket._id} ">

        <!-- Panel Title -->
        <div class="panel-heading">
          <h3 class="panel-title">{{ comment?.content }}</h3>

        </div>

        </div>
